global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "caddy"
    static_configs:
      - targets: ["caddy:2019"]

  - job_name: "redis"
    static_configs:
      - targets: ["redis-exporter:9121"]
